/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Import components */
@import url("components/container.css");
@import url("components/button.css");

/* Other */
body {
  font-family: 'Courier Prime', sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
}
