.card-field {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: ;
  border: 5px solid #FFFFFF;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

@media (max-width: 1200px) {
  .card-field {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 800px) {
  .card-field {
    grid-template-columns: auto;
  }
}

.card-base {
  background-color: #FFFFFF;
  height: 400px;
  width: 300px;
  max-height: 400px;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  color: #000000;
}

.card-image {
  height: 250px;
  width: 250px;
}
